*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.vs
*.pdf
*.db
*.iobj
*.ipdb
*.pdb
*.ilk
*.ipch
*.log
*.obj
*.pch
*.res
*.lastbuildstate
*.tlog
*.ipch
*.idb
*.opendb